.articleContainer {
    background-color: #EBEEF3;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bigArticle {
    margin-top: 2%;
    width: 75%;
    background-color: #fff;
    height: 90%;
}

.articleInnerWrapper {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 4%;
}

.articleDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userInfo {
    width: 15%;
    display: flex;
    justify-content: space-between;
}


